---
title: "Reluctant Data Wrangler"
layout: splash
permalink: /
header:
  overlay_color: "#333"
  overlay_filter: "0.5"
  cta_label: "Current Project"
  cta_url: "https://huangchv.github.io/coauthors/"
excerpt: "Data can never be clean enough"
intro: 
  - excerpt: "Have you ever had a question that couldn't be answered by Google or Wikipedia, but could be answered if you weren't too lazy to scrape data from the internet? Me too!"
pubmed_p1:
  - image_path: /assets/images/pubmed/2017-09-10_papers_months.png
    alt: "Manuscript submission throughout the year"
    title: "Pubmed Citation Analysis"
    excerpt: "_If I want more people to cite my papers, what should I do?_"
    url: /pubmed/
    btn_label: "Read More"
    btn_class: "btn--primary"
network:
  - image_path: /assets/images/pub_net/2018-04-02_most_cite_multi.png
    alt: "Should I make friends at a conference?"
    title: "Network Viz of Breast Cancer Coauthors"
    excerpt: "_If I offend the head of breast cancer research at MD Anderson, is my career over?_"
    url: /coauthors/
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="pubmed_p1" type="left" %}

{% include feature_row id="network" type="right" %}